
<div class= "container">
 <div class="row mt-4">
  <div class="mx-auto" style="width: 400px;">
  ようこそ、ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない⽅も商品の閲覧はできますが、</br>
  購⼊には会員登録が必要になります。
  </div>
 </div>
 
 <div class="row mt-4">
 新着
 </div>
 
